                     </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2018
            <a href="https://greefitech.com">Greefi Technologies</a>.</strong> All rights reserved.
    </footer>
</div>
    <script>
        $(document).ready(function () {
            $('.viewTable').DataTable({
                colReorder: true,
            });
        });
    </script>
    <script src="/AdminAssets/js/jquery-2.2.3.min.js"></script>
    <script src="/AdminAssets/js/bootstrap.min.js"></script>
    <script src="/AdminAssets/js/app.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>

</html>